flask[async]==3.0.3
flask-cors==4.0.1
nltk==3.8.1
sklearn==0.0
python-Levenshtein==0.25.1
fuzzywuzzy==0.18.0
PyAudio==0.2.14
num2words==0.5.13
word2number==1.1
aiohttp==3.9.5
werkzeug==3.0.3
sphinx==7.4.6
sphinx-rtd-theme==2.0.0
g2p-en==2.1.0
pyyaml==6.0.1
joblib==1.4.2
pymupdf==1.24.7

