flask==2.0.1
flask-cors==3.0.10
flask_dropzone==1.6.0
transformers==4.21.2
sentence_transformers==2.2.2
torch==1.12.1
nltk==3.6.2
gensim==4.0.1
sklearn==0.0
gender_guesser==0.4.0
python-Levenshtein==0.12.2
wave==0.0.2
conversation-qa==0.0.13
creak-sense==0.0.4
protobuf==4.21.5
fairseq==0.12.2
g2p_en==2.1.0
fuzzywuzzy==0.18.0
PyAudio==0.2.11
huggingface-hub==0.10.0
git+https://github.com/openai/whisper